.blue {
	color: #002966;
}

.name {
	letter-spacing: -2px;
	font-size: 3rem;
}

.hr-blue {
	border: 2px solid #002966;
}

.footer {
	background-color: #002966;
	min-height: 75px;
}

.footer-gamma {
	background-size: cover;
	background-image: url("../img/fons.jpg");
	min-height: 75px;
	text-shadow: 1px 1px #000;
	background-position: 0% 30%;
}