.head {
	background-image: url("./img/oldtown.webp");
	color: white;
	height: 400px;
	background-size: cover;
	background-position: bottom;
	text-shadow: 2px 2px #333;
	font-weight: 600;
}

nav.navbar {
	background-color: #fff !important;
	font-weight: 600;
}


.ml-auto-custom {
  margin-left: auto;
}

.lead {
	text-align: justify;
}

.blue {
	color: #002966;
}

.name {
	letter-spacing: -2px;
	font-size: 3rem;
}

.hr-blue {
	border: 2px solid #002966;
}

.footer {
	background-color: #002966;
	color: #fff;
}

a {text-decoration: none;}

td a { color: black; }
