.head {
	background-image: url("./img/oldtown.webp");
	color: white;
	min-height: 400px;
	background-size: cover;
	background-position: bottom;
	text-shadow: 2px 2px #333;
	font-weight: 600;
	padding-bottom: 50px;
}

.justify {
	text-align: justify;
}

nav.navbar {
	background-color: #fff !important;
	font-weight: 600;
}

.main-title {
	font-size: 50pt;
}

.ml-auto-custom {
  margin-left: auto;
}

.lead {
	text-align: justify;
}

.blue {
	/*color: #002966;*/
	color: #ee8d30;
}

.name {
	letter-spacing: -2px;
	font-size: 3rem;
}

.hr-blue {
	/*border: 2px solid #002966;*/
	border: 2px solid #ee8d30;
}

.footer {
	/*background-color: #002966;*/
	background-color: #ee8d30;
	color: #fff;
}

a {text-decoration: none;
color: #d67e2b}

td a { color: black; }

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
 background-color: #fce8d6;
}
